
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
--dark-blue:#03045E;
--dark-brown:#474306;
--dark-yellow:#F5EE84;
--light-yellow:#FBF8CC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-yellow);
    font-family: 'poppins';
}
 .container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
 }
.navbar{
    display: flex;
     justify-content: space-between;
     padding: 1rem 0;
}
 .nav-item{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
}
.nav-icon{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
}
.nav-item a{
    text-decoration: none;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.hero-section .left-section .h3{
    font-size: 1.5rem;
    color: var(--dark-blue);
}
.hero-section .left-section h1{
    font-size: 6.25rem;
    line-height: 1.1;
    color: var(--dark-blue);
}
.left-section .left-button button{
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid var(--dark-brown);
    color: var(--dark-brown);
    transition: all 0.3s ease;

}
.left-section .left-button button:hover{
    transform: translate(5% ,5%);
}

.left-section .left-button {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
}
.left-section .left-button .button-rectangle{
    width: 100%;
    height: 100%;
    background-color: var(--dark-yellow);
    position: absolute;
    border-radius: 7px;
    z-index: -1;
    top: 10%;
    left: 5%;
}
.right-images{
    position: relative;

}
.right-section .right-images .group-6{
    position: absolute;
    left: 0;
    top: 70%;
}
.right-section .right-images .group-10{
    position: absolute;
    right: 10%;
}
/*about-section
*/
.about-section h2{
    font-size: 6.25rem;
    color: var(--dark-yellow);
}
.about-section p{
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
}
.timeline{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.timeline-item{
    display: flex;
    gap: 20px;
    margin-bottom: 5rem;
}
.timeline-item .timeline-dot{
    width: 13px;
    height: 13px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin-top: 0.6rem;
}
.timeline-content .timeline-year{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
}
.about-section .subheading{
    margin-bottom: 6rem;
}
/*work-section */
.work-section h2{
    font-size: 6.25rem;
    color: var(--dark-yellow);
}

.work-section .subheading{
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
    margin-bottom: 6rem;
}
.work-section-content{
    display: flex;
   justify-content: space-between;
} 
.work-section-content .work-section-card{
    max-width: 560px;
    width: 100%;
}
.work-section-card h4{
    font-size: 1.5rem;
    
}
.work-section p{
    font-size: 1.125rem;
    margin-top: 1rem;
}
.work-section-card h4{
    margin-top: 2rem;
}
/*contact-section */
.contact-section h2{
    font-size: 6.25rem;
    color: var(--dark-yellow);
}
.contact-section .subheading{
    font: size 1.5rem; 
    max-width: 900px;
    width: 100%;
    margin-bottom: 4rem;
}
.contact-section-content{
  display: flex;
    /* align-items: flex-start; */
      justify-content: space-between;
    gap: 20px;
}
.contact-section p{
    font-size: 1.125rem;
    margin-top: 2rem;

}
.contact-section-content .contact-section-card{
    max-width: 560px;
    width: 100%;
}
.contact-section-card h4{
    font-size: 1.5rem;
}
.contact-section-card h4{
    margin-top: 2rem;
}
.links p{
    margin: 10px 0 0;
    font-size: 18px;
    
}
@media (max-width:1024px){
    .container{
        padding: 0 3rem;
    }
    .navbar .nav-logo{
           font-size: 1.3rem;
    }
    .nav-item a{
        font-size: 1rem;
    }
    .nav-icon a{
        font-size: 1rem;
    }
    .nav-icon img{
        width: 70%;
    }
    .hero-section .left-section h1{
        font-size: 5rem;
    }
    .right-section .right-images img{
        max-width: 90%;
    }
    .left-section{
        max-width: 600px;
        width: 100%;
    }
    .right-section{
        width: 300px;
    }


}
@media (max-width:768px){
    .hero-section{
        flex-direction: column;
    }
    .nav-item{
        display: none;
    }
    .nav-icon{
        display: none;
    }
    .left-section{
        text-align: center;
        margin-bottom: 5rem;
    }
    .hero-section .left-section h1{
        font-size: 4rem;
    }
}
